[Unit]
Description=A NodeJS project.
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory={{ repo_dir }}{{ item }}
ExecStart=/usr/bin/npm start
User={{ user }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier= {{ item }}

[Install]
WantedBy=multi-user.target
